In [1]:
import pandas as pd

# Create the DataFrame
df = pd.DataFrame({
    'Department': ['IT', 'HR', 'IT', 'HR', 'IT'],
    'Salary': [50000, 60000, 55000, 65000, 52000]
})

# Group by "Department" and calculate the average salary
average_salary = df.groupby('Department')['Salary'].mean()
print("Average Salary by Department:")
print(average_salary)

Average Salary by Department:
Department
HR    62500.000000
IT    52333.333333
Name: Salary, dtype: float64

In [4]:
# Load the dataset
world_indicator_df = pd.read_csv(f"/Users/biplavbarua/Downloads/World Indicator dataset (1).csv")

# Display the first few rows of the dataset
print(world_indicator_df.head())

  Country/Region  Region        Year  Birth Rate  Business Tax Rate  \
0        Algeria  Africa  01-12-2000       0.020                NaN
1         Angola  Africa  01-12-2000       0.050                NaN
2          Benin  Africa  01-12-2000       0.043                NaN
3       Botswana  Africa  01-12-2000       0.027                NaN
4   Burkina Faso  Africa  01-12-2000       0.046                NaN

   CO2 Emissions  Days to Start Business  Ease of Business  Energy Usage  \
0        87931.0                     NaN               NaN       26998.0
1         9542.0                     NaN               NaN        7499.0
2         1617.0                     NaN               NaN        1983.0
3         4276.0                     NaN               NaN        1836.0
4         1041.0                     NaN               NaN           NaN

            GDP  ...  Life Expectancy Male  Mobile Phone Usage  \
0  5.479006e+10  ...                  67.0               0.003
1  9.129595e+09  ...                  44.0               0.002
2  2.359122e+09  ...                  53.0               0.008
3  5.788312e+09  ...                  49.0               0.127
4  2.610959e+09  ...                  49.0               0.002

   Number of Records  Population 0-14  Population 15-64  Population 65+  \
0                  1            0.342             0.619           0.039
1                  1            0.476             0.499           0.025
2                  1            0.454             0.517           0.029
3                  1            0.383             0.587           0.029
4                  1            0.468             0.505           0.028

   Population Total  Population Urban  Tourism Inbound  Tourism Outbound
0          31719449             0.599      102000000.0       193000000.0
1          13924930             0.324       34000000.0       146000000.0
2           6949366             0.383       77000000.0        50000000.0
3           1755375             0.532      227000000.0       209000000.0
4          11607944             0.178       23000000.0        30000000.0

[5 rows x 27 columns]

In [7]:
# Calculate the correlation between Population and GDP for each region
correlation_by_region = world_indicator_df.groupby('Region').apply(
    lambda x: x['Population Total'].corr(x['GDP'])
)

print("Correlation between Population and GDP by Region:")
print(correlation_by_region)

Correlation between Population and GDP by Region:
Region
Africa          0.629689
Asia            0.524779
Europe          0.705252
Middle East     0.477118
Oceania         0.888828
The Americas    0.853516
dtype: float64

/var/folders/bw/5tc2sfgd3_dg6w_6rv0h5zq80000gn/T/ipykernel_36321/1008219317.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  correlation_by_region = world_indicator_df.groupby('Region').apply(

In [9]:
# Perform aggregation by Region
aggregated_data = world_indicator_df.groupby('Region').agg({
    'Population Total': 'sum',  # Total population
    'GDP': 'mean',        # Average GDP
    'Life Expectancy Female': 'median',  # Median Life Expectancy for females
    'Life Expectancy Male': 'median'     # Median Life Expectancy for males
}).reset_index()

print("Aggregated Data by Region:")
print(aggregated_data)

Aggregated Data by Region:
         Region  Population Total           GDP  Life Expectancy Female  \
0        Africa       12171820277  2.403553e+10                    56.0
1          Asia       47829816399  3.841830e+11                    72.0
2        Europe       10421881656  3.566105e+11                    81.0
3   Middle East        2510047535  1.168773e+11                    76.0
4       Oceania         441733092  8.426346e+10                    73.5
5  The Americas       11683828354  4.705943e+11                    76.0

   Life Expectancy Male
0                  54.0
1                  66.0
2                  75.0
3                  73.0
4                  69.0
5                  71.0

In [11]:
# Identify the region with the highest population
highest_population_region = aggregated_data.loc[aggregated_data['Population Total'].idxmax(), 'Region']

# Identify the region with the highest average GDP
highest_gdp_region = aggregated_data.loc[aggregated_data['GDP'].idxmax(), 'Region']

print(f"Region with the highest population: {highest_population_region}")
print(f"Region with the highest average GDP: {highest_gdp_region}")

Region with the highest population: Asia
Region with the highest average GDP: The Americas

In [12]:
from scipy.stats import ttest_ind

# Select two regions for comparison
region1 = 'Region1'  # Replace with actual region name
region2 = 'Region2'  # Replace with actual region name

# Filter the data for the two regions
region1_gdp = world_indicator_df[world_indicator_df['Region'] == region1]['GDP']
region2_gdp = world_indicator_df[world_indicator_df['Region'] == region2]['GDP']

# Perform a two-sample t-test
t_stat, p_value = ttest_ind(region1_gdp, region2_gdp, nan_policy='omit')

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The average GDPs of the two regions are significantly different.")
else:
    print("Fail to reject the null hypothesis: No significant difference in average GDPs of the two regions.")

T-statistic: nan
P-value: nan
Fail to reject the null hypothesis: No significant difference in average GDPs of the two regions.

/Users/biplavbarua/Developer/Python Codes/Python/lib/python3.13/site-packages/scipy/_lib/deprecation.py:234: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  return f(*args, **kwargs)